.book-list{
    display: flex;
    flex-wrap: wrap;
    margin-left:15%;
    margin-right:5%;
}

.book-list-component input{
    background-color: transparent;
    border: #dddddd 1px solid;
    margin:auto;
    margin-top: 2%;
    display: block; 
    color: black;
    font-weight: bold;
    padding: 10px;
  }

  ::placeholder { 
    color:black;
    opacity: 1; 
    font-weight: bold;
  }