

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    background-color:#dddddd;
  }
  
  .navbar li {
    flex-grow: 0.2;
    background-color: transparent; 
  }
  
  
  
  .navbar li input{
    background-color: transparent; 
    border:none;
    margin:0;
    display: block; 
    color: black;
    text-align: left;
    padding: 16px 10px;
    font-weight: bold;
  }
  
  
  .navbar li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar li a:hover {
    background-color: #eaeaea;
  }
  
  .navbar li input:hover {
    background-color: #eaeaea;
  }
  
  .navbar .separator{
      flex: 1 1;
  }
  
  ::placeholder { 
    color:black;
    opacity: 1; 
    font-weight: bold;
  }