.form{
    display: flex;
    flex-direction: column;
    width:25%;
    height: auto;
    margin:auto;
    text-align: center;
    margin-top:2%;
    margin-bottom:4%;
}

.form button{
    width:50%;
    font-size: 20px;
    margin:auto;
    border:none;
    margin-top:5%;
    margin-bottom:5%;
    background: transparent;
    padding: 7px;
}

.form button:hover{
    background-color: #dddddd;
}

.form img{
    width:35%;
    height: auto;
    margin:auto;
}

.form input{
    width:70%;
    margin:auto;
    border:none;
    font-size: 15px;
    border-bottom: solid black 1px;
    margin-top:2%;
    margin-bottom: 2%;
}