
*{
  font-family: Trebuchet MS;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  background-color:#dddddd;
}

li {
  flex-grow: 0.2;
  background-color: transparent; 
}



li input{
  background-color: transparent; 
  border:none;
  margin:0;
  display: block; 
  color: black;
  text-align: left;
  padding: 16px 10px;
  font-weight: bold;
}


li a{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #eaeaea;
}

li input:hover {
  background-color: #eaeaea;
}

.separator{
    flex: 1 1;
}

::placeholder { 
  color:black;
  opacity: 1; 
  font-weight: bold;
}


/* Book css */

.list-item{
  width:200px;
  height:auto;
  text-align: center;
  margin:2%;
  display: flex;
  flex-direction: column;
}

.list-item:hover{
  background-color: #eaeaea;
  
}

.star{
  font-weight:15px;
  text-decoration: none;
  color: black;
}

#shelf{
  background-color: green;
  color:white;
  font-weight: bold;
  width:150px;
  margin:auto;
  margin-top:4px;
  margin-bottom:4px;
  height: auto;
  border:none;
  padding:3px;
  font-size: 15px;
  
}

.genre{
  font-weight: bold;
  margin:auto;
}

img{
  max-width: 150px;
  height: auto;
  margin:auto;
  margin-bottom: 4px;
  margin-top: 4px;
}

/* Header css */



