* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#news_view{
    display: flex;
    flex-direction: column;
}

#news-list-view{
    background: #3f3d3d;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.single-news-div{
    display: flex;
    max-width: 75%;
    height: auto;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 1%;
    margin:1%;
    background: #a8a3a3;
    transition: background 0.5s;
}

.single-news-div:hover{
    background: #dbd2d2;
    opacity: 1;
}

.single-news-div:hover .image-div .news-image{
    opacity: 1;
}

.news-image{
    max-width: 100%;
    height: auto;
    border-radius: 2px;
    opacity: 0.8;
    transition: opacity 0.5s;
}

.content-div{
    flex: 1 1;
    margin: 2px;
}

.image-div{
    flex: 1 1;
    margin: 2px;
}




