*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width:100%;
}


#news-list-view{
    display: flex;
}

#left{
    flex: 0.5 0.5;
}

#center{
    flex: 1 1;
}

#right{
    flex: 1 1;
}

#latestHeadline{
    color:rgb(139, 5, 5);
    text-decoration: none;
}

#myTabContent{
    border: 1px solid #eaeaea;
    border-top:none;
    border-bottom: none;
}

.margins{
    margin:2px;
    margin-top: 20px;
}

.bold{
    font-weight: bold;
}


.card a{
    background-color: #eaeaea;
}


