.canvas-div{
    display: flex;
}

#canvas{
    border: 1px solid black;
}

.right{
    float: right;
    margin-left:30px;
    display: flex;
    flex-direction: column;
}

.right div{
    margin-top:15px;
}

.right div select{
    margin-left: 10px;
}


.right .img{
    width: 25px;
    height: auto;
    margin-left:5px;
    margin-right: 5px;
}

.left button{
    background: transparent;
    border: 1px solid #dddddd;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-left:5px;
    margin-right: 5px;
}

.left button:hover{
    background-color: #dddddd;
}

.btn{
    width:50%;
    height: auto;
}

.colorInput{
    background: transparent;
    border: 1px solid #dddddd;
}
