#canvas{
    border: 1px solid black;
}


.right{
    display: inline;
}

.left{
    float: right;
    margin-right:15%;
}

.left div{
    margin:3%;
}

.left .img{
    width: 25px;
    height: auto;
    margin-left:2%;
    margin-right: 2%;
}

.left .link{
    text-decoration: none;
    font-size: 19px;
    margin-right: 0;
    font-weight: bold;
    color:black;
}

.left .saveButton{
    text-decoration: none;
    font-size: 18px;
    padding: 3px;
    font-weight: bold;
    color:black;
}

.left .saveButton:hover{
    color:rgb(131, 131, 131);
}

.left button{
    background: transparent;
    border: 1px solid #dddddd;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    margin:3px;
}

.left button:hover{
    background-color: #dddddd;
}

.colorInput{
    background: transparent;
    border: 1px solid #dddddd;
}
