table,tr,td,th{
    border: 1px #cfd1d3 solid;
    border-collapse: collapse;
    padding: 10px;
}

table{
    text-align: center;
    margin: 1%;
}

#weather-view{
    align-content: center;
    display: flex;
}