.main{
    display: flex;
    flex-direction: column;
}

.header{
    text-align: center;
    font-size: 42px;
    margin:1%;
    margin-bottom: 2%;
    color:#451466;
}

.single-event{
    width:70%;
    display: flex;
    flex:1 1;
    margin:auto;
    margin-bottom: 2%;
    padding: 5px;
    background: white;
}

.single-event:hover{
    background-color: #dfdfdf;
    cursor:pointer;
}