.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5%;
}

.header{
    text-align: center;
    font-size: 42px;
    margin:1%;
    margin-bottom: 2%;
    color:#451466;
}

app-event{
    margin:15px;
}

.information{
    text-align: center;
    font-weight: 200;
    color:rgb(128, 1, 1);
}

.information span{
    font-weight: 700;
}