<h1 *ngIf="event">{{event.headline}}</h1>
<div class="main">

  <div *ngIf="event" class="left">
    <img [src]="event.img">

    <app-map *ngIf="longitude && latitude" class="mapa" [longitude]="longitude" [latitude]="latitude"></app-map>
  </div>
  <div class="right">



    <div *ngIf="event" class="right-left">
      <label>Date: <span>{{returnFormatedDate()}}</span></label>
      <label>Time: <span>{{event.time}} h</span></label>
      <label>Address: <span>{{event.address}}</span></label>
      <label>City: <span>{{event.city}}</span></label>
      <label>Number of people comming: <span>{{event.numberOfPeopleComing}}</span></label>


      <div *ngIf="isLoggedIn" class="is-comming-div">
        <h3>Interessted in comming?</h3>
        <div *ngIf="(((isNumberOfPeopleMax || !isNumberOfPeopleMax) && userResponse) || (!isNumberOfPeopleMax && !userResponse) )" class="answer">
          <button *ngIf="(!userResponse)" (click)="registerCommingEvent()"><img 
              src="../../../assets/img/x-mark-64.png"> <label class="btnLabel">No</label> </button>

          <button *ngIf="(userResponse)" (click)="unregisterCommingEvent()"> <img  
              src="../../../assets/img/check-mark-3-64 (1).png"> <label class="btnLabel">Yes</label> </button>
        </div>

        <label class="max" *ngIf="isNumberOfPeopleMax">Maximum capacity has been filled.</label>
      </div>


    </div>

    <div *ngIf="event" class="right-right">
      <p>{{event.description}}</p>

    </div>

    <!-- <div *ngIf="event" class="bottom">
          <h1>{{event.headline}}</h1>
          <p>{{event.description}}</p>
      </div> -->
  </div>
</div>