#branches,.branch-table{
    text-align: center;
}

.branch-table{
    padding: 10px;
}

#branches{
    margin:auto;
    height: 280px;
}

.library-name{
    color:#45456b;
    font-weight: bold;
    text-decoration: none;
}

#table-div{
    display: flex;
}

.side{
    flex-shrink: 1;
    flex-grow: 1;
}

.center{
    flex-grow: 1;
    flex-shrink: 0;
}

#all{
    display: flex;
}

#left{
    margin-left: 2%;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex: 1 1;
}

#right{
    margin-right: 2%;
    margin-top: 4%;
    text-align: right;
    display: flex;
    flex-direction: column;
    flex: 1 1;
}

span{
    font-weight: bold;
}

#single-branch{
    background-color: #dedee5;
    margin-left: 20%;
    margin-right: 20%;
}

.branch-img{
    margin-top: 1%;
    flex-shrink: 1;
    width:500px;
    height: auto;
}

.working-hours{
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: transparent;
    font-weight: inherit;
    list-style-type: disc;
    margin-left: 4%;
}

