.catalog-header{ 
    margin-left: 20%;
    margin-right: 20%;
    display:flex;
    flex-direction: row;
}

.header-left{
    display: flex;
    text-align: left;
    flex:1 1;
}

.header-right{
    display: flex;
    flex:1 1;
    margin:auto;
}

.options{
    display: flex;
}

input,select{
    border: 1px solid #c5cbd6;
}

input:hover, select:hover{
    border: 1px solid #75787c;
}

table{
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
    width:900px;
}

#img-library-item{
    width:200px;
    height: auto;
}

a{
    color:#000000;
    text-decoration: none;
    font-weight: bolder;
}

th{
    background-color:#bbd1f5
}

table,th,td,tr{
    border:#9fa2a5 solid 1px;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}

input, label{
    margin-left: 4px;
    margin-right: 4px;
}

.book-cover{
    width:100px;
    height: auto;
}

#all-library-item{
    background-color: #dedee5;
    display: flex;
    margin: auto;
    padding: 15px;
    margin-left: 20%;
    margin-right: 20%;
}

#center-library-item{
    flex: 1 1;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#right-library-item{
    flex: 1 1;
    text-align: right;
    display: flex;
    flex-direction: column;
}

#available{
    width:150px;
    font-size: 20px;
}

#reserve{
    width:100px;
    font-size: 15px;
}

.library-item-button{
    border: none;
    /* border-radius: 8px; */
    color: white;
    height: auto;
    margin: auto;
    padding: 10px;
}

#library-card-id-input{
    margin-top:10px;
    margin-bottom:10px;
    height: 25px;
    width: 150px;
}

#place-on-hold-button{
    padding: 10px;
    border: none;
    background-color: #4cb597;
    font-size: 15px;
    color:white;
}